<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

<div class="container">
    <div class="row" th:if="${parameterPasser != null}">
        <div class="col-md-3 field-label-responsive">
        </div>
        <div class="col-md-9 field-label-responsive">
            <span class="alert alert-success" role="alert" th:if="${parameterPasser.isSuccess()}" th:utext="${parameterPasser.getMessage()}">
            </span>
            <span class="alert alert-danger" role="alert" th:if="${parameterPasser.isError()}" th:utext="${parameterPasser.getMessage()}">
            </span>
            </span>
        </div>

    </div>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <table>
            <tr>
                <th>ID</th>
                <th>Title</th>
                <th>Category</th>
                <th>Number of views</th>
            </tr>
            <tr th:each="article : ${userArticles}">
                <td th:text="${article.id}">Id</td>
                <td th:text="${article.title}">Title</td>
                <td th:text="${article.category}">Category</td>
                <td th:text="${article.getValue()}">Category</td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})"/>
</body>
</html>
