<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>Spring Security Example </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

<div class="container">
    <div class="row" th:if="${parameterPasser != null}">
        <div class="col-md-3 field-label-responsive">
        </div>
        <div class="col-md-9 field-label-responsive">
            <span class="alert alert-success" role="alert" th:if="${parameterPasser.isSuccess()}" th:utext="${parameterPasser.getMessage()}">
            </span>
            <span class="alert alert-danger" role="alert" th:if="${parameterPasser.isError()}" th:utext="${parameterPasser.getMessage()}">
            </span>
            </span>
        </div>

    </div>
</div>
<div class="container" style="margin-top: 30px;">
    <div class="row">
        <table>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th>Created date</th>
                <th>Updated date</th>
            </tr>
            <tr th:if="${users != null}" th:each="user : ${users}">
                <td th:text="${user.getId()}">ID</td>
                <td th:text="${user.getFirstName()}">First Name</td>
                <td th:text="${user.getLastName()}">Last Name</td>
                <td th:text="${user.getEmail()}">Email</td>
                <td th:text="${user.getRole()}">Role</td>
                <td th:text="${user.getCreatedDate()}">Created date</td>
                <td th:text="${user.getLastUpdatedDate()}">Updated</td>
            </tr>
        </table>
    </div>
</div>

<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})"/>
</body>
</html>
