.icon-bar {
    position: fixed;
    top: 50%;
    right: 0;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    border-radius: 5px;
    padding-top: 2px;
}

.icon-bar span {
    border: 2px solid #555555;
    display: block;
    text-align: center;
    padding: 26px;
    transition: all 0.3s ease;
    color: black;
    font-size: 20px;
}

.icon-bar span:hover {
    background-color: #578daa;
}

.expand-all-box {
    background: white;
    color: white;
}
