/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

.checked {
    color: orange;
}

.suggestionSection {
    border: 1px solid #ccc !important;
    padding: 1.01em 16px;
    border-radius: 16px;
    overflow: auto;
    /*width: 100px;*/
    height: 180px;
    border: solid thin black;
}

.suggestionCircle {
    border: 1px solid #ccc !important;
    padding: 0.01em 16px;
    border-radius: 16px;

}

.suggestedArticleRatings {
    text-align: justify;
    margin-bottom: 4px;
    padding-left: 450px;
    margin-bottom: 4px;
}

/*ckeditor height*/
.ck-editor__editable {
    min-height: 280px;

}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

#progressBarHolder {
    width: 100%;
    background-color: #ddd;
}

#progressBarRating {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}

.suggestionTitle{
    padding-top:10px;
}

#loadingHolder {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
}

#loading {
    background: url('img/Preloader_3.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}

.leftcolumn {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
}

.rightcolumn .card {
    -webkit-box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
    -moz-box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
    box-shadow: -1px 1px 5px 9px rgba(77, 77, 77, 0.75);
}
