<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
>
<head>
    <title>BINUV - Password reset page</title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

<div class="container" th:if="${parameterPasser != null}">
    <div class="col-md-3 field-label-responsive">
    </div>
    <div class="col-md-12 field-label-responsive">
        <div class="alert alert-success" role="alert" th:if="${parameterPasser.isSuccess()}"
             th:utext="${parameterPasser.getMessage()}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${parameterPasser.isError()}"
             th:utext="${parameterPasser.getMessage()}">
        </div>
        </span>
    </div>
</div>

<div class="container">
    <div class="row" style="text-align: center; margin-top: 20px;">
        <div class="col-md-3 field-label-responsive">
        </div>
        <div class="col-md-6" th:if="${parameterPasser.isPasswordResetRequest()}">
            <div>
                <form th:action="@{/app/passwordreset-request}" method="post">
                    <h1 class="h3 mb-3 font-weight-normal">Request password change</h1>
                    <label for="email" class="sr-only">Email</label>
                    <input type="email" id="email" name="email" class="form-control" placeholder="Email" required
                           autofocus>
                    <button class="btn btn-lg btn-primary btn-block" type="submit"
                            style="margin-top: 15px; margin-bottom: 10px;">Request password change
                    </button>
                    <div class="margin-top20 text-center">
                        Do you have an account already?
                        <a th:href="@{/app/login}">Log in</a>
                    </div>
                </form>
            </div>
        </div>
        <div class="col-md-6 field-label-responsive" th:if="${parameterPasser.isPasswordResetValidate()}">
            <form th:action="@{'/app/passwordreset-validate?token=' + ${parameterPasser.getToken()}} " method="post">
                <h1 class="h3 mb-3 font-weight-normal">Changing password</h1>
                <label for="password" class="sr-only">Password</label>
                <input type="password" id="password" name="password" class="form-control" placeholder="Password"
                       required autofocus>
                <button class="btn btn-lg btn-primary btn-block" type="submit"
                        style="margin-top: 20px; margin-bottom: 10px">Change password
                </button>
                <div class="margin-top20 text-center"> Do you have an account already?
                    <a th:href="@{/app/login}">Log in</a>
                </div>
            </form>
        </div>
        <div class="col-md-3 field-label-responsive">
        </div>
    </div>
</div>

<!--<div th:replace="fragments/footer :: footer"/>-->
</body>
</html>

