@import url("https://fonts.googleapis.com/css?family=Bungee");
body {
    background: #1b1b1b;
}
.access_denied {
    margin-top: 50px;
    font-family: "Bungee", cursive;
    color: white;
    text-align: center;
}
.access_denied a {
    color: #2aa7cc;
    text-decoration: none;
}

.access_denied a:hover {
    color: white;
}

.access_denied svg {
    width: 50vw;
}

.access_denied .lightblue {
    fill: #444;
}

.access_denied .eye {
    cx: calc(115px + 30px * var(--mouse-x));
    cy: calc(50px + 30px * var(--mouse-y));
}

.access_denied #eye-wrap {
    overflow: hidden;
}

.access_denied .error-text {
    font-size: 120px;
}

.access_denied .alarm {
    animation: alarmOn 0.5s infinite;
}

@keyframes alarmOn {
    to {
        fill: darkred;
    }
}
tr:nth-child(even) {
    background-color: #1b1b1b;
}

td, th {
    border: 2px dashed #a6a6a6;
    text-align: left;
    padding: 8px;
    border-radius: 10px;
}
