<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Master Thesis Report timeline </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>
<!--<div class="alert alert-success" role="alert"-->
<!--     th:if="${parameterPasser != null && parameterPasser.isSuccess()}"-->
<!--     th:utext="${parameterPasser.getMessage()}"></div>-->


<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-success" role="alert"
                 th:if="${parameterPasser != null && parameterPasser.isSuccess()}"
                 th:utext="${parameterPasser.getMessage()}"></div>

            <div class="alert alert-danger" role="alert" th:if="${parameterPasser != null && parameterPasser.isError()}"
                 th:utext="${parameterPasser.getMessage()}"></div>

        </div>
    </div>
    <div class="row">
        <div class="col-md-4">
            <h3>You can share:</h3>
            <div class="timeline-share">
                <form action="#" data-th-action="@{/app/master-thesis/report-publisher-share}"
                      data-th-object="${customSharedDto}" method="post">
                    <input type="checkbox" th:name="*{shared}" th:checked="${customSharedDto.isShared()}"/>
                    <input name="submit" type="submit" value="Share"/>
                </form>
            </div>
        </div>

        <div class="col-md-6">
            <h3>You can update following reports:</h3>
            <form th:action="@{/app/master-thesis/report-publisher-update}" th:object="${reportUpdateObject}"
                  method="post">
                <table>
                    <tr>
                        <td>Select Report:</td>
                        <td>
                            <select th:field="*{day}">
                                <option th:each="report : ${reports}" th:value="${report.getId()}"
                                        th:utext="${report.getWeek() + ' ' + report.getMonth()}"/>
                            </select>

                        </td>
                        <td><input name="submit" type="submit" value="update"/></td>
                    </tr>

                </table>
            </form>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">

            <p>The form below contains a textarea for comments:</p>
            <form th:action="@{/app/master-thesis/report-publisher}" th:object="${reportTimelineDto}" method="post">
                <div class="form-group">

                    <div class="input-group">
                        <span class="input-group-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input type="number" id="day" min="1" max="31" class="form-control" name="day"
                               placeholder="Week number - i.g. Week 1, ..." th:field="*{day}"
                               th:value="${reportTimelineDto.getWeek()}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                        <input type="text" class="form-control" name="week" placeholder="Week 1, Week 2, Week 3, ...."
                               th:field="*{week}" th:value="${reportTimelineDto.getWeek()}">
                    </div>
                    <div class="input-group">
                        <span class="input-group-icon"><i class="fa fa-pencil" aria-hidden="true"></i></i></span>
                        <input type="text" class="form-control" name="month" placeholder="MAR, APR, MAY, JUN, JUL, ..."
                               th:field="*{month}"
                               th:value="${reportTimelineDto.getMonth()}">
                    </div>
                    <label for="report-implemented">I have done:</label>
                    <div class="input-group">
                <span class="input-group-icon"><i class="fa fa-check-circle" aria-hidden="true"
                                                  style="width: 10%;"></i></span>
                        <textarea class="form-control" rows="5" id="report-implemented" th:field="*{implemented}"
                                  th:value="${reportTimelineDto.getImplemented()}" style="width: 65%;">
                </textarea>
                        <textarea class="form-control" rows="5" disabled style="width: 20%;">
                    Format as a follow:
                        == Studied
                        == Learned ES
                        == Many others
                    </textarea>
                    </div>
                    <label for="report-todo">I will do:</label>
                    <div class="input-group">
                <span class="input-group-icon"><i class="fa fa-list-ol" aria-hidden="true"
                                                  style="width: 10%;"></i></span>
                        <textarea rows="5" id="report-todo" th:field="*{plannedToDo}"
                                  th:value="${reportTimelineDto.getPlannedToDo()}" style="width: 65%;">

                </textarea>
                        <textarea class="form-control" rows="5" disabled style="width: 20%;">
                    Format as a follow:
                        == Will learn new things
                        == Will search
                        == Will focus on
                    </textarea>
                    </div>

                    <div class="input-group">
                        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                    </div>
                </div>
            </form>
        </div>
    </div>

</div>

<!--Setting up Footer-->
<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})"/>

</body>
</html>

