<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Master Thesis Report timeline </title>
    <div th:replace="fragments/header :: header-css"/>
    <link rel="stylesheet" href="/css/custom/report-timeline-page.css"/>
</head>
<body style="background-color: #f0f0f0;">

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

<div class="container timeline-container" style="width: 100%;">
    <div class="page" style="padding-bottom: 0px; padding-top: 10px;">
            <div class="alert alert-success" role="alert"
                 th:if="${parameterPasser != null && parameterPasser.isSuccess()}"
                 th:utext="${parameterPasser.getMessage()}"></div>

            <div class="alert alert-danger" role="alert" th:if="${parameterPasser != null && parameterPasser.isError()}"
                 th:utext="${parameterPasser.getMessage()}"></div>

    </div>
</div>
<div class="container timeline-container" style="width: 100%;">
    <div class="page">
        <div class="timeline">
            <div class="timeline__group">
                <span class="timeline__year">2020</span>
                <div class="timeline__box" th:if="${reportTimelineList != null}" th:each="timelineDto : ${reportTimelineList}">
                    <div class="timeline__date">
                        <span class="timeline__day" th:text="${timelineDto.getDay()}"></span>
                        <span class="timeline__month" th:text="${timelineDto.getMonth()}"></span>
                    </div>
                    <div class="timeline__post">
                        <div class="timeline__header" th:text="${timelineDto.getWeek()}"></div>
                        <div class="timeline__content">
                            <h3> I have done in this week:</h3>
                            <ul th:each="content : ${timelineDto.getImplemented()}">
                                <li th:text="${content}"></li>
                            </ul>
                            <h3> I have planned to do in the following week:</h3>
                            <ul th:each="content : ${timelineDto.getPlannedToDo()}">
                                <li th:text="${content}"></li>
                            </ul>
                        </div>
                        <div class="timeline__footer" style="border-bottom: white 2px solid;">
                            <span class="timeline__footer_icon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span th:text="${timelineDto.getCreatedDate()}"></span>
                        </div>
                        <div class="timeline__footer">
                            <span class="timeline__footer_icon">
                                <i class="fa fa-clock-o" aria-hidden="true"></i>
                            </span>
                            <span th:text="${timelineDto.getUpdateDate()}"></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="timeline__group">
                <span class="timeline__year">2019</span>
                <div class="timeline__box">
                    <div class="timeline__date">
                        <span class="timeline__day">14</span>
                        <span class="timeline__month">DEC</span>
                    </div>
                    <div class="timeline__post">
                        <div class="timeline__content">
                            <p>More content will follow</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
    <div class="linkedin">
        <div class="linkedin__container">
            <p class="linkedin__text">This is report timeline page for my Master Thesis</a></p>
        </div>
    </div>
</div>

<!--Setting up Footer-->
<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})"/>

</body>
</html>

