<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BINUV - Page not found</title>
    <div th:replace="fragments/header :: header-css"/>

    <link rel="stylesheet" th:href="@{/css/custom/errorAnd403Pages.css}"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>


<div class="container access_denied">

    <div class="row" style="text-align: center;">

        <div class="col-md-1"></div>
        <div class="col-md-10" style="text-align: center;">
            <svg xmlns="http://www.w3.org/2000/svg" id="robot-error" viewBox="0 0 260 118.9">
                <defs>
                    <clipPath id="white-clip">
                        <circle id="white-eye" fill="#cacaca" cx="130" cy="65" r="20"/>
                    </clipPath>
                    <text id="text-s" class="error-text" y="106"> 500</text>
                </defs>
                <path class="alarm" fill="#e62326" d="M120.9 19.6V9.1c0-5 4.1-9.1 9.1-9.1h0c5 0 9.1 4.1 9.1 9.1v10.6"/>
                <use xlink:href="#text-s" x="-0.5px" y="-1px" fill="black"></use>
                <use xlink:href="#text-s" fill="#2b2b2b"></use>
                <g id="robot">
                    <g id="eye-wrap">
                        <use xlink:href="#white-eye"></use>
                        <circle id="eyef" class="eye" clip-path="url(#white-clip)" fill="#000" stroke="#2aa7cc"
                                stroke-width="2" stroke-miterlimit="10" cx="130" cy="65" r="11"/>
                        <ellipse id="white-eye" fill="#2b2b2b" cx="130" cy="40" rx="18" ry="12"/>
                    </g>
                    <circle class="lightblue" cx="105" cy="32" r="2.5" id="tornillo"/>
                    <use xlink:href="#tornillo" x="50"></use>
                    <use xlink:href="#tornillo" x="50" y="60"></use>
                    <use xlink:href="#tornillo" y="60"></use>
                </g>
            </svg>
            <h1>Sorry. Email configuration is not enabled!</h1>
            <h2>Please, enable email services with following changes:</h2>
        </div>
        <div class="col-md-1"></div>
    </div>
    <div class="row" style="text-align: center; margin-top: 50px; margin-bottom: 100px;">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <table style=" border: none;">
                <thead>
                <tr>
                    <td>Steps Number</td>
                    <td>Procedure to follow and changes to be made:</td>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>1</td>
                    <td>BINUV has used Yandex email hosting and all configurations keys match to yandex email
                        configuration
                        keys. But you can add @gmail configuration keys also. <br>
                        <ol>
                            <li>Open Yandex email</li>
                            <li>Accept terms of Yandex by visiting <a target="_blank" href="https://mail.yandex.com">mail.yandex.com</a>
                            </li>
                        </ol>
                    </td>
                </tr>
                <tr>
                    <td>2</td>
                    <td>
                        Set email address and password in <b>config_keys.properties</b>:<br>
                        <textarea class="form-control" rows="2" disabled style="width: 100%;">
                            mail.email.address=myEmailAddress@yandex.com
                            mail.email.password=MyPassword
                    </textarea>
                    </td>
                </tr>
                <tr>
                    <td>3</td>
                    <td>
                        Enable sending the email service for the project in <b>config_keys.properties</b>:<br>
                        <textarea class="form-control" rows="1" disabled style="width: 100%;">
                            email.configuration.enabled=true
                        </textarea>
                    </td>
                </tr>
                <tr>
                    <td>4</td>
                    <td>
                        Change the email address to receive a message from Contact Form in <b>config_keys.properties</b>:<br>
                        <textarea class="form-control" rows="1" disabled style="width: 100%;">
                            contact.form.receiver.email=info@binuv.com
                        </textarea>
                    </td>
                </tr>
                </tbody>

            </table>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>

<script>
    var root = document.documentElement;
    var eyef = document.getElementById('eyef');
    var cx = document.getElementById("eyef").getAttribute("cx");
    var cy = document.getElementById("eyef").getAttribute("cy");

    document.addEventListener("mousemove", evt => {
        let x = evt.clientX / innerWidth;
        let y = evt.clientY / innerHeight;

        root.style.setProperty("--mouse-x", x);
        root.style.setProperty("--mouse-y", y);

        cx = 115 + 30 * x;
        cy = 50 + 30 * y;
        eyef.setAttribute("cx", cx);
        eyef.setAttribute("cy", cy);

    });

    document.addEventListener("touchmove", touchHandler => {
        let x = touchHandler.touches[0].clientX / innerWidth;
        let y = touchHandler.touches[0].clientY / innerHeight;

        root.style.setProperty("--mouse-x", x);
        root.style.setProperty("--mouse-y", y);
    });


</script>
</body>
</html>
