.hello-title{
    color: darkgreen;
}

/*h1{*/
/*    color:#0000FF;*/
/*}*/

/*h2{*/
/*    color:#FF0000;*/
/*}*/

footer{
    margin-top:60px;
}

.form-group .input-group .input-group-icon {
    background-color: grey;
    padding-left: 5px;
    padding-right: 5px;
    border-radius: 2px;
    margin-left: 2px;
}

.form-group .input-group {
    margin-bottom: 10px;
}

.container footer {
    margin-bottom: 35px;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #a6a6a6;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}


nav .navbar-brand {
    margin-left: 30px;
    margin-right: 30px;
}
nav {
    padding-bottom: 10px;
}

.container .alert {
    margin-top: 10px;
}

.container .field-label-responsive .alert, .container .alert {
    width: 100%;
    text-align: center;
}
