* {
    box-sizing: border-box;
}

/* Add a gray background color with some padding */
body {
    font-family: Arial;
    padding: 20px;
    background-image: url('img/background1.jpg');
    /*background-color:white;*/
}

/* Header/Blog Title */
.header {
    padding: 30px;
    font-size: 40px;
    text-align: center;
    color: Blue;
    /*  background: white;
*/
}

/* Create two unequal columns that floats next to each other */
/* Left column */
.leftcolumn {
    float: left;
    width: 75%;
}

/* Right column */
.rightcolumn {
    float: left;
    width: 25%;
    padding-left: 20px;
}

/* Fake image */
.fakeimg {
    background-color: #aaa;
    width: 100%;
    padding: 20px;
}

/* Add a card effect for articles */
.card {
    background-color: white;
    padding: 20px;
    margin-top: 20px;
}

/* Clear floats after the columns */
.row:after {
    content: "";
    display: table;
    clear: both;
}

/* Footer */
.footer {
    padding: 20px;
    text-align: center;
    /*background: #ddd;*/
    margin-top: 20px;
}

.checked {
    color: orange;
}

.suggestionSection {
    border: 1px solid #ccc !important;
    padding: 1.01em 16px;
    border-radius: 16px;
    overflow: auto;
    /*width: 100px;*/
    height: 180px;
    border: solid thin black;
}

.suggestionCircle {
    border: 1px solid #ccc !important;
    padding: 0.01em 16px;
    border-radius: 16px;

}

.suggestedArticleRatings {
    text-align: justify;
    margin-bottom: 4px;
}

/*ckeditor height*/
.ck-editor__editable {
    min-height: 280px;

}


/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 800px) {

    .leftcolumn,
    .rightcolumn {
        width: 100%;
        padding: 0;
    }
}

#progressBarHolder {
    width: 100%;
    background-color: #ddd;
}

#progressBarRating {
    width: 1%;
    height: 30px;
    background-color: #4CAF50;
}

/* #se-pre-con {
position: fixed;
left: 0px;
top: 0px;
width: 100%;
height: 100%;
z-index: 9999;
background: url(Preloader_3.gif) center no-repeat #fff;
} */

#loadingHolder {
    background-color: white;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 9999999;
}

#loading {
    background: url('img/Preloader_3.gif') no-repeat center center;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 9999999;
}
