.subscription-popup {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.9);
    overflow-y: auto;
    box-shadow: 0px 6px 30px rgba(0, 0, 0, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: all 0.3s;
    z-index: 10;
    background-color: #ffffff;
    width: 100%;
    height: 100%;
}

.subscription-popup .content {
    width: 100%;
    max-width: 900px;
    overflow: hidden;
    text-align: center;
    position: relative;
    min-height: 100vh;
}
.subscription-popup .content .container {
    padding: 100px 20px 140px;
}

.subscription-popup .content .closebtn {
    position: absolute;
    bottom: 20px;
    right: 20px;
    font-size: 3.1rem;
    letter-spacing: 0.05rem;
    color: #3e4146;
    transition: all 0.4s;
}
.subscription-popup .content .closebtn:hover {
    cursor: pointer;
    color: #0288d1;
}
.subscription-popup .content .circles .circle {
    position: absolute;
    border-radius: 100%;
    z-index: 11;
}
.subscription-popup .content .circles .circle:nth-of-type(1) {
    top: -80px;
    right: -80px;
    width: 160px;
    height: 160px;
    background-color: #2ab1ce;
}
.subscription-popup .content .circles .circle:nth-of-type(2) {
    bottom: -120px;
    left: -120px;
    width: 240px;
    height: 240px;
    background-color: #0288d1;
}

.subscription-popup .content .circles .circle:nth-of-type(3) {
    top: -50px;
    left: -50px;
    width: 100px;
    height: 100px;
    background-color: #333;
}
.subscription-popup .content .title h1 {
    text-align: center;
    color: #f66867;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 2.8rem;
    letter-spacing: 0.05rem;
}
.subscription-popup .content img {
    width: 100%;
    max-width: 220px;
    display: inline-block;
    margin: 30px 0 40px 0;
    opacity: 0;
    transform: translateX(-60px);
    transition: 0.2s;
    -webkit-backface-visibility: hidden;
}

.subscription-popup .content .subscribe h1 {
    font-size: 1.5rem;
    color: #3e4146;
    line-height: 130%;
    letter-spacing: 0.07rem;
    margin-bottom: 30px;
}
.subscription-popup .content .subscribe h1 span {
    color: #f66867;
}
.subscription-popup .content .subscribe form {
    overflow: hidden;
}
.subscription-popup .content .subscribe form input {
    width: 100%;
    float: left;
    padding: 15px 20px;
    text-align: center;
    font-family: inherit;
    font-size: 1.1rem;
    letter-spacing: 0.05rem;
    outline: 0;
}
.subscription-popup .content .subscribe form input[type=email] {
    margin-bottom: 15px;
    border: 1px solid #bec1c5;
    transition: all 0.4s;
}

.subscription-popup .content .subscribe form input[type=email]:focus {
    border-color: #3e4146;
}
.subscription-popup .content .subscribe form input[type=submit] {
    background-color: #f66867;
    color: #ffffff;
    border: 1px solid #f66867;
    transition: all 0.4s;
}

.subscription-popup .content .subscribe form input[type=submit]:hover {
    cursor: pointer;
    background-color: #2ab1ce;
    border-color: #2ab1ce;
}
.subscription-popup.open {
    visibility: visible;
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
}
.subscription-popup.open img {
    opacity: 1;
    transition: 1s;
    transition-delay: 0.3s;
    transform: translateX(0px);
}
@media (min-width: 568px) {
    .subscription-popup .content {
        min-height: inherit;
    }
    .subscription-popup .content .container {
        padding: 50px 20px 80px;
    }
}

@media (min-width: 768px) {
    .subscription-popup .content .container {
        padding: 70px 0px 90px;
        max-width: 520px;
        margin: 0 auto;
    }
    .subscription-popup .content .circles .circle:nth-of-type(1) {
        top: -190px;
        right: -190px;
        width: 380px;
        height: 380px;

    }
    .subscription-popup .content .subscribe form input[type=email] {
        margin-bottom: 0px;
        width: 75%;
        border-right-width: 0px;
    }
    .subscription-popup .content .subscribe form input[type=submit] {
        width: 25%;
    }
    .subscription-popup {
        width: calc(100% - 40px);
        height: auto;
        max-width: 900px;
    }

}
