<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BINUV - Start page </title>
    <div th:replace="fragments/header :: header-css"/>


    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="http://bootstrap-tagsinput.github.io/bootstrap-tagsinput/dist/bootstrap-tagsinput.css">

    <link rel="stylesheet" href="css/main.css"/>
    <link rel="stylesheet" href="/css/custom/support-ticket.css"/>
    <link rel="stylesheet" href="/css/custom/side-bar-start.css"/>

</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

<script>
    $(document).ready(function () {
        $("#left-navbar").addClass("navbar-right");
        console.log();
    });

    function collapseOrExpandAll() {
        var numBoxes = $(".message-box-count:last").text();
        var i;
        for (i = 0; i < numBoxes; i++) {
            var boxClassName = "#message-box-"+ i;
            if ($(boxClassName).hasClass("in")) {
                $(boxClassName).removeClass("in");
                $("#collapse-icon-bar").css({"display":"none"});
                $("#expand-icon-bar").removeAttr("style")
            } else {
                $(boxClassName).addClass("in");
                $("#expand-icon-bar").css({"display":"none"});
                $("#collapse-icon-bar").removeAttr("style")
            }
        }
    }

    function collapseSingle(messageBoxId) {
        var boxClassName = "#message-box-"+ messageBoxId;
        if ($(boxClassName).hasClass("in")) {
            $(boxClassName).removeClass("in");
        } else {
            $(boxClassName).addClass("in");
        }
    }

    function topFunction() {
        $("html, body").animate({ scrollTop: 1 }, 1000);
    }

    function downFunction() {
        $("html, body").animate({ scrollTop: $(document).height() }, 1000);
    }
</script>

<div class="container" th:if="${parameterPasser != null}">
    <div class="col-md-3 col-lg-1 field-label-responsive">
    </div>
    <div class="col-md-12 col-lg-9 field-label-responsive">
        <div class="alert alert-success" role="alert" th:if="${parameterPasser.isSuccess()}"
             th:utext="${parameterPasser.getMessage()}">
        </div>
        <div class="alert alert-success" role="alert" th:if="${loggedInMessage != null}" th:utext="${loggedInMessage}">
        </div>
        <div class="alert alert-danger" role="alert" th:if="${parameterPasser.isError()}"
             th:utext="${parameterPasser.getMessage()}">
        </div>
    </div>
</div>


<div class="icon-bar">
    <span onclick="collapseOrExpandAll()" class="expand-all-box" id="collapse-icon-bar" title="Collapse all tickets"><i class="fa fa-compress" aria-hidden="true"></i></span>
    <span onclick="collapseOrExpandAll()" style="display: none;" class="expand-all-box" id="expand-icon-bar" title="Expand all tickets"><i class="fa fa-expand" aria-hidden="true"></i></span>
    <span onclick="topFunction()" class="expand-all-box" title="Go up"><i class="fa fa-arrow-up" aria-hidden="true"></i></i></span>
    <span onclick="downFunction()" class="expand-all-box" title="Go down"><i class="fa fa-arrow-down" aria-hidden="true"></i></span>

</div>

<span id="top-page" style="display: none;"></span>

<div class="container">
    <div class="col-md-3 col-lg-1"></div>
    <div class="col-md-12 col-lg-9" style="text-align: center;">
        <h1>All tickets here</h1>
    </div>
</div>

<div class="container" th:if="${allTickets != null}" th:each="singleTicket, iteration : ${allTickets}">
    <div class="col-md-3 col-lg-1"></div>
    <div class="col-md-12 col-lg-9">
        <form th:attr="action=@{${singleTicket.getFormAction()}}" th:object="${ticketInputObject}" method="post">
            <div class="panel">
                <!--Heading-->
                <div class="row panel-heading">
                    <div class="col-md-8 col-xs-7 panel-title" style="padding-right: 0;">
                        <div class="row">
                            <div class="col-xs-1" style="padding-left: 25px;">
                                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
                            </div>
                            <div class="col-xs-10">
                                <input type="text" th:field="*{subject}" th:placeholder="${singleTicket.getSubject()}"
                                       class="form-control chat-input">
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4 col-xs-5 panel-control" style="padding-left: 0;">
<!--                        <div class="row">-->
                            <div class="row" style="padding: 0; float: right;">
                                <ul style="list-style-type: none; padding-right: 20px; margin: 0;">
                                    <li>
                                        <div style="float: right;">
                                            <div class="btn-group"
                                                 th:with="menuActions= ${singleTicket.getTicketMenuActions()}">
                                                <div class="btn btn-default" th:if="${menuActions != null}">
                                                    <i class="fa fa-lock" aria-hidden="true"
                                                       th:if="${!menuActions.isPublicTicket()}"></i>
                                                    <i class="fa fa-unlock" aria-hidden="true"
                                                       th:if="${menuActions.isPublicTicket()}"></i>
                                                </div>
                                                <div class="btn btn-default"
                                                     th:if="${menuActions != null && menuActions.isClosed()}">
                                                    <i class="fa fa-check-square-o" aria-hidden="true"></i>
                                                </div>
                                                <button class="btn btn-default" th:attr="onclick='collapseSingle(' + ${iteration.index} + ')'" type="button"><i class="fa fa-chevron-down"></i>
                                                </button>
                                                <button type="button" class="btn btn-default" data-toggle="dropdown"><i
                                                        class="fa fa-gear"></i>
                                                </button>
                                                <ul class="dropdown-menu dropdown-menu-right">
                                                    <li>
                                                        <a th:if="${menuActions != null}"
                                                           th:href="@{${menuActions.getLabelPublic()}}">
                                                            <i class="fa fa-unlock" aria-hidden="true"
                                                               style="margin-right: 10px;"></i>
                                                            Make Public
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a th:if="${menuActions != null}"
                                                           th:href="@{${menuActions.getLabelPrivate()}}">
                                                            <i class="fa fa-lock" aria-hidden="true"
                                                               style="margin-right: 10px;"></i>
                                                            Make Private
                                                        </a>
                                                    </li>
                                                    <li>
                                                        <a th:if="${menuActions != null}"
                                                           th:href="@{${menuActions.getLabelClosed()}}">
                                                            <i class="fa fa-check-square-o" aria-hidden="true"
                                                               style="margin-right: 10px;"></i>
                                                            Closed
                                                        </a>
                                                    </li>
                                                    <li class="divider"></li>
                                                    <li>
                                                        <a th:if="${menuActions != null}"
                                                           th:href="@{${menuActions.getDeleteTicket()}}">
                                                            <i class="fa fa-trash" aria-hidden="true"
                                                               style="margin-right: 10px;"></i>
                                                            Delete
                                                        </a>
                                                    </li>
                                                    <li><a th:if="${menuActions != null}"
                                                           th:href="@{${menuActions.getLabelOpen()}}">
                                                        <i class="fa fa-pencil-square-o" aria-hidden="true"
                                                           style="margin-right: 10px;"></i>
                                                        Reopen the ticket</a></li>
                                                    <li><a id="demo-disconnect-chat" href="#"
                                                           data-target="#demo-chat-body">
                                                        <i class="fa fa-times" aria-hidden="true"
                                                           style="margin-right: 10px;"></i>
                                                        Exit</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <div class="row" style="padding: 0; float: right; padding-right: 30px;">
                                <ul style="list-style-type: none; padding-right: 20px; margin: 0;">
                                    <li>
                                        <div style="float: right;" th:text="${singleTicket.getCreatedDate()}">
                                            11:53:23 07-04-2020
                                        </div>
                                    </li>
                                </ul>
                            </div>
<!--                        </div>-->
                    </div>
                </div>

                <!--Widget body-->
                <div  th:id="'message-box-' + ${iteration.index}" class="collapse in">
                    <div class="nano has-scrollbar" style="height:480px">
                        <div class="nano-content pad-all" tabindex="0" style="right: -17px;">
                            <ul class="list-unstyled media-block" th:if="${singleTicket != null}"
                                th:each="content : ${singleTicket.getTicketContents()}">

                                <li class="mar-btm" th:if="${content.isOwner()}">
                                    <div class="media-right">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar2.png"
                                             class="img-circle img-sm" alt="Profile Picture">
                                    </div>
                                    <div class="media-body pad-hor speech-right">
                                        <div class="speech">
                                            <a href="#" class="media-heading" th:text="${content.getUserName()}">Lucy
                                                Doe</a>
                                            <p th:text="${content.getMessage()}">Nope, That\'s it.</p>
                                            <p class="speech-time">
                                                <i class="fa fa-clock-o fa-fw"></i><span
                                                    th:text="${content.getCreatedDate()}"></span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                                <li class="mar-btm" th:if="${!content.isOwner()}">
                                    <div class="media-left">
                                        <img src="https://bootdey.com/img/Content/avatar/avatar1.png"
                                             class="img-circle img-sm" alt="Profile Picture">
                                    </div>
                                    <div class="media-body pad-hor">
                                        <div class="speech">
                                            <a href="#" class="media-heading" th:text="${content.getUserName()}">Lucy
                                                Doe</a>
                                            <p th:text="${content.getMessage()}">Nope, That\'s it.</p>
                                            <p class="speech-time">
                                                <i class="fa fa-clock-o fa-fw"></i> <span
                                                    th:text="${content.getCreatedDate()}"></span>
                                            </p>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </div>
                        <div class="nano-pane">
                            <div class="nano-slider" style="height: 141px; transform: translate(0px, 0px);"></div>
                        </div>
                    </div>

                    <!--Widget footer-->
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col-xs-9">
                                <input type="text" th:field="*{message}"
                                       placeholder="Enter your text" class="form-control chat-input">
                            </div>
                            <div class="col-xs-3">
                                <button class="btn btn-primary btn-block" type="submit">Send</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <span style="visibility: hidden;" class="message-box-count" th:text="${iteration.count}"></span>

</div>
<span id="top-down" style="visibility: hidden;"></span>

<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})"/>
</body>
</html>
