<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5">
<head>
</head>
<body>
<div th:fragment="footer (logged_in, logged_user_email, user_role)" class="container">
    <div class="row">
        <div class="col-md-12" style="text-align: center; margin-bottom: 60px;">
            <span>&copy; 2020 binuv.com</span>
            <span th:if="${logged_in}">
                        <a th:href="@{/app/user-profile}">User Profile:
                            <span th:text="${logged_user_email}">Email</span>
                        </a>
                        <a th:if="${user_role == 'ROLE_ADMIN'}" th:href="@{/app/master-thesis/report-publisher}">| Publish Report</a>
                        | <a th:href="@{/pressiplus}">Publisher</a>
                        | <a th:href="@{/app/support}">Support</a>
                        | <a th:href="@{/app/logout}">Sign out</a>
            </span>
            <span th:if="${!logged_in}">
                        <a th:href="@{/app/login}">Log In</a>
                         | Don't have account? <a th:href="@{/app/signup}">Register</a>

            </span>
        </div>
    </div>
</div>
</body>
</html>

