<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>BINUV - LOGIN PAGE </title>
    <div th:replace="fragments/header :: header-css"/>
</head>
<body>

<div th:replace="fragments/header :: header(logged_in=${parameterPasser.isLogged_in()}, user_role=${parameterPasser.getUser_role()},
                                                page_name=${parameterPasser.getPageName()})"/>

</div>

<div class="container">
    <div class="alert alert-success" role="alert"
         th:if="${parameterPasser != null && parameterPasser.isSuccess()}"
         th:utext="${parameterPasser.getMessage()}"></div>

    <div class="alert alert-danger" role="alert"
         th:if="${parameterPasser != null && parameterPasser.isError()}"
         th:utext="${parameterPasser.getMessage()}">
    </div>
    <form th:action="@{/app/login}" method="post" >
        <h1 class="h3 mb-3 font-weight-normal">Sign in</h1>
        <label for="email" class="sr-only">Email</label>
        <input type="email" id="email" name="app_email" class="form-control" placeholder="Email" required autofocus>
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="app_password" class="form-control" placeholder="Password" required>
        <div class="checkbox mb-3">
            <label>
                <input type="checkbox" name="remember-me" /> Remember me
            </label>
        </div>
        <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
        <div class="margin-top20 text-center"> Don't have an account? <a th:href="@{/app/signup}">Create an account</a>
            Or Forgot the password? <a th:href="@{/app/passwordreset}">Reset here</a> </div>
    </form>
</div>

<div th:replace="fragments/footer :: footer(logged_in=${parameterPasser.isLogged_in()},
            logged_user_email=${parameterPasser.getLogged_user_email()}, user_role=${parameterPasser.getUser_role()})">

</div>
</body>
</html>

