<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="disclaimer"
          content="This website does not belong to a real company. It is a Planspiel Web Engineering project under Technische Universität Chemnitz, Germany.">

    <title>BINUV - A Start-up company under VSR, TU Chemnitz</title>

    <!-- Favicon icon -->
    <link rel="shortcut icon" href="favicon.ico" type="image/x-icon">

    <!-- Custom fonts for this theme -->
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet"
          type="text/css">

    <!-- Theme CSS -->
    <!-- <link href="css/freelancer.min.css" rel="stylesheet"> -->
    <link href="css/freelancer.css" rel="stylesheet">
    <link href="css/side-menu.css" rel="stylesheet">
    <link href="css/subscription-popup.css" rel="stylesheet">

    <!-- Owlcarousel CSS -->
    <link rel="stylesheet" href="css/owl.carousel.css">
    <link rel="stylesheet" href="css/owl.theme.default.css">

    <!-- DON'T delete this meta tag, it is required but email hosting server -->
    <meta name="yandex-verification" content="49648b3cd29c3a26"/>

    <style>
        .team img {
            border: 1px solid rgba(3, 168, 244, 0.568);
        }

        .team img:hover {
            opacity: 0.5 !important;
            cursor: pointer !important;
        }
    </style>
</head>

<body id="page-top">

<!-- Navigation -->
<nav class="navbar navbar-expand-lg bg-secondary text-uppercase fixed-top" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <img alt="BINUV" src="img/binuv-logo-text.png" height="32"/>
        </a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded"
                type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive"
                aria-expanded="false"
                aria-label="Toggle navigation">
            Menu
            <i class="fas fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <!-- <li class="nav-item mx-0 mx-lg-1">
                  <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Portfolio</a>
                </li> -->
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">About</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#team">Team</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contact</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/pressiplus}">Pressiplus</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${!parameterPasser.isLogged_in()}">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/app/login}">Log In</a>
                </li>
                <li class="nav-item mx-0 mx-lg-1" th:if="${parameterPasser.isLogged_in()}">
                    <a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" th:href="@{/app/user-profile}">My Profile</a>
                </li>
            </ul>
        </div>
    </div>
</nav>

<!-- Masthead -->
<header class="masthead bg-primary text-white text-center">
    <div class="container d-flex align-items-center flex-column">

        <!-- Masthead Avatar Image -->
        <img class="masthead-avatar mb-5" src="img/binuv-logo.png" alt="">

        <!-- Masthead Heading -->
        <h1 class="masthead-heading text-uppercase mb-0">We are from around the world</h1>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-icicles"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Masthead Subheading -->
        <p class="masthead-subheading font-weight-light mb-0">
            Our mission is to achieve strong connection between people and mass media by unlocking the potential of
            human
            creativity on technologies.
        </p>

    </div>
</header>

<!-- About Section -->
<section class="page-section bg-default text-black mb-0" id="about">
    <div class="container">

        <!-- About Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-black">About</h2>

        <!-- Icon Divider -->
        <!-- Icon Divider -->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-icicles"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- About Section Content -->
        <div class="row">
            <div class="row text-center">
                <div class="col-lg-12 ml-auto">
                    <p class="lead">
                        A startup company based in Chemnitz, formed by a group of people having the same aim to build
                        strong connections between people and mass media with the help of cutting edge technology.
                    </p>
                    <br/>
                </div>
            </div>
            <div class="col-lg-4 ml-auto">
                <h4 class="text-center"><i class="far fa-eye fa-3x"></i></h4>
                <p class="lead text-center">
                    To become world's leading company that innovates and strengthens connections between people and mass
                    media with cutting-edge technologies.
                </p>
            </div>
            <div class="col-lg-4 mr-auto">
                <h4 class="text-center"><i class="fas fa-rocket fa-3x"></i></h4>
                <p class="lead text-center">
                    Our mission is to achieve strong connection between people and mass media by unlocking the potential
                    of human creativity on technologies.
                </p>
            </div>
            <div class="col-lg-4 ml-auto">
                <h4 class="text-center"><i class="fas fa-crosshairs fa-3x"></i></h4>
                <p class="lead text-center">
                    Our purpose is to improve relationship between human and mass media by bringing up the new methods
                    and approaches. </p>
            </div>
        </div>
        <br/>
        <br/>
        <!-- Icon Divider -->
        <div class="divider-custom divider-dark">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <!--<i class="fas fa-icicles"></i>-->
                <h4 class="text-center text-uppercase text-black">Our Values</h4>
            </div>
            <div class="divider-custom-line"></div>
        </div>
        <div class="row">
            <div class="col-lg-2 ml-auto text-center">
            </div>
            <div class="col-lg-8 ml-auto text-center">
                <img src="img/values.png" alt="Our Values" class="img-fluid">
            </div>
            <div class="col-lg-2 ml-auto text-center">
            </div>
        </div>

        <!--<h4 class="text-center text-uppercase text-black">Our Values</h4>-->
        <!-- About Section Button -->


    </div>
</section>

<!-- Team Section -->
<section class="page-section bg-primary text-white mb-0" id="team">
    <div class="container">

        <!-- Team Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-white">The Team</h2>

        <!-- Icon Divider -->
        <div class="divider-custom divider-light">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-icicles"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Team Section Content -->
        <div>

        </div>
        <div class="team mt-lg-5">
            <div class="owl-carousel owl-theme">
                <div class="item" title="Please, click to see more information">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal1">
                        <img alt="Khanh Nguyen Pham Tuan" class="rounded-circle" src="img/team/tk.jpg"/>
                        <h5 class="text-center pt-3">KHANH NGUYEN PHAM TUAN</h5>
                        <h6 class="text-center pt-1">CSO</h6>
                    </div>
                </div>
                <div class="item" title="Please, click to see more information">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal2">
                        <img alt="Doston Hamrakulov" class="rounded-circle" src="img/team/doston.jpg"/>
                        <h5 class="text-center pt-3">DOSTON HAMRAKULOV</h5>
                        <h6 class="text-center pt-1">CEO</h6>
                    </div>
                </div>
                <div class="item" title="Please, click to see more information">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal3">
                        <img alt="Yamini Gupta" class="rounded-circle" src="img/team/yamini.jpeg"/>
                        <h5 class="text-center pt-3">YAMINI GUPTA</h5>
                        <h6 class="text-center pt-1">CMO</h6>
                    </div>
                </div>
                <div class="item" title="Please, click to see more information">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal4">
                        <img alt="Sagar Kafle" class="rounded-circle" src="img/team/sagar.jpg"/></div>
                    <h5 class="text-center pt-3">SAGAR KAFLE</h5>
                    <h6 class="text-center pt-1">CFO</h6>
                </div>
                <div class="item" title="Please, click to see more information">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#teamModal5">
                        <img alt="Shovra Das" class="rounded-circle" src="img/team/shovra.jpg"/></div>
                    <h5 class="text-center pt-3">SHOVRA DAS</h5>
                    <h6 class="text-center pt-1">CTO</h6>
                </div>
            </div>
        </div>
    </div>
</section>

<!-- Contact Section -->
<section class="page-section" id="contact">
    <div class="container">

        <!-- Contact Section Heading -->
        <h2 class="page-section-heading text-center text-uppercase text-secondary mb-0">Contact Us</h2>

        <!-- Icon Divider -->
        <div class="divider-custom">
            <div class="divider-custom-line"></div>
            <div class="divider-custom-icon">
                <i class="fas fa-icicles"></i>
            </div>
            <div class="divider-custom-line"></div>
        </div>

        <!-- Contact Section Form -->
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <p>You can also contact us by email info@binuv.com, or you can send us a message here:</p>
                <form th:action="@{/public/contact}" th:object="${contactMail}" method="post">
                    <p>
                        <input type="text" class="form-control" required="required" th:field="*{name}"
                               placeholder="Name">
                    </p>
                    <p>
                        <input type="email" class="form-control" required="required" th:field="*{email}"
                               placeholder="Email Address">
                    </p>
                    <p>
                        <input type="tel" class="form-control" th:field="*{phonenumber}"
                               placeholder="Phone number (Optional)">
                    </p>
                    <p>
                <textarea class="form-control" rows="12"
                          style="margin-top: 10px;" placeholder="Message"
                          name="notes" th:field="*{message}" required="required"></textarea>
                    </p>
                    <p>
                        <input type="submit" value="Submit"/> <input type="reset" value="Reset">
                    </p>
                </form>

            </div>
        </div>

    </div>
</section>

<!--Side Menu to select different menues-->
<nav class="side-menu">
    <input type="checkbox" href="#" class="side-expandmenu" name="side-expandmenu" id="side-expandmenu" />
    <label class="side-expandmenu-button" for="side-expandmenu">
        <span class="lines first-line"></span>
        <span class="lines sec-line"></span>
        <span class="lines third-line"></span>
    </label>

    <a href="#page-top" class="side-menu-item col1"> <i class="fas fa-home"></i> </a>
    <a href="#" class="side-menu-item col2"> <i class="fas fa-history"></i> </a>
    <a href="#" class="side-menu-item col3"> <i class="fas fa-bell"></i> </a>
    <a href="#contact" class="side-menu-item col4"> <i class="fas fa-envelope"></i> </a>
    <a href="#team" class="side-menu-item col5"> <i class="fa fa-users"></i> </a>
    <a href="#about" class="side-menu-item col6"> <i class="fas fa-info"></i> </a>
</nav>

<!--Email subscription popup section-->
<div class="subscription-popup">
    <div class="content">
        <div class="container">
            <div class="circles">
                <div class="circle"></div>
                <div class="circle"></div>
                <div class="circle"></div>

            </div>

            <span class="closebtn">&#9932;</span>

            <div class="title">
                <h1>Become A Subscriber</h1>
            </div>

            <img src="img/binuv-logo.png" alt="Car">

            <div class="subscribe">
                <h1>Subscribe to get thr notification of latest <span>POSTS</span></h1>

                <form th:action="@{/public/subscribe-news}" th:object="${subscription}" method="post">
                    <input type="email" placeholder="Put Your Email Address" th:field="*{email}">
                    <input type="submit" value="Subscribe">
                </form>
            </div>
        </div>
    </div>
</div>


<!-- Footer -->
<footer class="footer text-center">
    <div class="container">
        <div class="row">

            <!-- Footer Location -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Location</h4>
                <p class="lead mb-0">Str. der Nationen 62
                    <br>09111 Chemnitz</p>
            </div>

            <!-- Footer Social Icons -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Around the Web</h4>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.facebook.com/binuv.tuc/">
                    <i class="fab fa-fw fa-facebook-f"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://twitter.com/binuv_tuc">
                    <i class="fab fa-fw fa-twitter"></i>
                </a>
                <a class="btn btn-outline-light btn-social mx-1" href="https://www.instagram.com/binuv.tuc/">
                    <i class="fab fa-instagram"></i>
                </a>
            </div>

            <!-- Footer About Text -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">About BINUV</h4>
                <p class="lead mb-0"><a href="#about">BINUV</a> is a startup, a tiny effort from a tiny set of people to
                    change the world a tiny bit.</p>
            </div>


            <!-- Footer About Text -->
            <div class="col-lg-3 mb-5 mb-lg-0">
                <h4 class="text-uppercase mb-4">Disclaimer</h4>

                <p class="lead mb-0">This website does not belong to a real company.
                    It is a Planspiel (Startup experience) Web Engineering project.
                </p>
            </div>

        </div>
    </div>
</footer>

<!-- Copyright Section -->
<section class="copyright py-4 text-center text-white">
    <div class="container">
        <small>Copyright &copy; <a href="#about">BINUV</a> 2019</small>
    </div>
</section>

<!-- Scroll to Top Button (Only visible on small and extra-small screen sizes) -->
<div class="scroll-to-top d-lg-none position-fixed ">
    <a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top">
        <i class="fa fa-chevron-up"></i>
    </a>
</div>


<!-- Team Modals -->

<!-- Team Modal 1 -->
<div class="portfolio-modal modal fade" id="teamModal1" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                Khanh Nguyen Pham Tuan
                            </h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-icicles"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/team/tk.jpg" alt="">
                            <!-- Portfolio Modal - Text -->
                            <h5>CHIEF STRATEGY OFFICER</h5>
                            <p class="mb-5">
                                Master Student, Web Engineering, TU Chemnitz
                                Master Student, Web Engineering, TU Chemnitz
                                <br>Email: <span style="font-weight: bold;">tk@binuv.com</span>
                                <br>Ho Chi Minh City, Veitnam
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Modal 2 -->
<div class="portfolio-modal modal fade" id="teamModal2" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                Doston Hamrakulov
                            </h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-icicles"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/team/doston.jpg" alt="Doston Hamrakulov">
                            <!-- Portfolio Modal - Text -->
                            <h5>CHIEF EXECUTIVE OFFICER</h5>
                            <p class="mb-5">
                                Master Student, Web Engineering, TU Chemnitz
                                <br>Email: <span style="font-weight: bold;">doston@binuv.com</span>
                                <br>Samarkand city, Uzbekistan
                            </p>
                            <p class="mb-5">

                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Modal 3 -->
<div class="portfolio-modal modal fade" id="teamModal3" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true" title="Please, click to see more information">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                Yamini Gupta
                            </h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-icicles"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/team/yamini.jpeg" alt="Yamini Gupta">
                            <!-- Portfolio Modal - Text -->
                            <h5>CHIEF MARKETING OFFICER</h5>
                            <p class="mb-5">
                                Master Student, Web Engineering, TU Chemnitz
                                <br>Email: <span style="font-weight: bold;">yamini@binuv.com</span>
                                <br>Gujarat city, India
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Modal 4 -->
<div class="portfolio-modal modal fade" id="teamModal4" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                Sagar Kafle
                            </h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-icicles"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/team/sagar.jpg" alt="Sagar Kafle">
                            <!-- Portfolio Modal - Text -->
                            <h5>CHIEF FINANCIAL OFFICER</h5>
                            <p class="mb-5">
                                Master Student, Web Engineering, TU Chemnitz
                                <br>Email: <span style="font-weight: bold;">sagar@binuv.com</span>
                                <br>Kathmandu city, Nepal
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Team Modal 5 -->
<div class="portfolio-modal modal fade" id="teamModal5" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">
                                Shovra Das
                            </h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-icicles"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/team/shovra.jpg" alt="Shovra Das">
                            <!-- Portfolio Modal - Text -->
                            <h5>CHIEF TECHNICAL OFFICER</h5>
                            <p class="mb-5">
                                Master Student, Web Engineering, TU Chemnitz
                                <br>Email: <span style="font-weight: bold;">shovra@binuv.com</span>
                                <br>Dhaka city, Bangladesh
                            </p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modals -->

<!-- Portfolio Modal 1 -->
<div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal1Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Log Cabin</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/cabin.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 2 -->
<div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal2Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Tasty Cake</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/cake.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 3 -->
<div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal3Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Circus Tent</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/circus.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 4 -->
<div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal4Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Controller</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/game.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 5 -->
<div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal5Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Locked Safe</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/safe.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Portfolio Modal 6 -->
<div class="portfolio-modal modal fade" id="portfolioModal6" tabindex="-1" role="dialog"
     aria-labelledby="portfolioModal6Label" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">
            <i class="fas fa-times"></i>
          </span>
            </button>
            <div class="modal-body text-center">
                <div class="container">
                    <div class="row justify-content-center">
                        <div class="col-lg-8">
                            <!-- Portfolio Modal - Title -->
                            <h2 class="portfolio-modal-title text-secondary text-uppercase mb-0">Submarine</h2>
                            <!-- Icon Divider -->
                            <div class="divider-custom">
                                <div class="divider-custom-line"></div>
                                <div class="divider-custom-icon">
                                    <i class="fas fa-star"></i>
                                </div>
                                <div class="divider-custom-line"></div>
                            </div>
                            <!-- Portfolio Modal - Image -->
                            <img class="img-fluid rounded mb-5" src="img/portfolio/submarine.png" alt="">
                            <!-- Portfolio Modal - Text -->
                            <p class="mb-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia neque
                                assumenda ipsam
                                nihil, molestias magnam, recusandae quos quis inventore quisquam velit asperiores,
                                vitae?
                                Reprehenderit soluta, eos quod consequuntur itaque. Nam.</p>
                            <button class="btn btn-primary" href="#" data-dismiss="modal">
                                <i class="fas fa-times fa-fw"></i>
                                Close Window
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Disclaimer Modal -->
<div class="portfolio-modal modal fade" id="disclaimerModal" tabindex="-1" role="dialog"
     aria-labelledby="disclaimerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body text-center">
                <i class="fas fa-exclamation-triangle fa-4x text-info"></i>
                <div class="py-3">
                    This website does not belong to a real company. It is a Planspiel (Startup Experience) Web
                    Engineering project
                    <br/>
                    under the Professorship of Distributed and Self-organizing Systems, Chemnitz University of
                    Technology, Chemnitz,
                    Germany.

                </div>
                <div class="text-center mt-4">
                    <button type="button" class="btn btn-outline-dark" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">
                I Understand!
              </span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>


<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Contact Form JavaScript -->
<script src="js/jqBootstrapValidation.js"></script>
<script src="js/contact_me.js"></script>

<!-- Custom scripts for this template -->
<script src="js/freelancer.min.js"></script>

<!-- Owlcarousel JS -->
<script src="js/owl.carousel.js"></script>
<script>
    $(document).ready(function () {
        var owl = $('.owl-carousel');
        owl.owlCarousel({
            dots: false,
            center: true,
            items: 3,
            loop: true,
            margin: 30,
            autoplay: true,
            autoplayTimeout: 2000,
            autoplayHoverPause: true,
        });

        // Showing email subscription popup

        $('.subscription-popup .closebtn').click(function(){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col3').click(function(e){
            $('.subscription-popup').addClass('open');
        });

        $('nav .col1').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col2').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col4').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col5').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col4').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .col6').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .side-expandmenu-button').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .lines').click(function(e){
            $('.subscription-popup').removeClass('open');
        });

        $('nav .side-expandmenu-button').click(function(e) {
            rePositionSideMenu();
        });

        function rePositionSideMenu() {
            var element1 = $(".side-menu").attr('style');
            if (typeof element1 !== typeof undefined && element1 !== false) {
                if ($(".side-menu").attr('style') == 'right:100px; bottom:90px;') {
                    removeStyling();
                }

            } else {
                addStyling();
            }
        }

        function removeStyling() {
            $(".side-menu").removeAttr('style');
            $(".side-menu .side-menu-item").removeAttr('style');
            $(".side-menu .side-expandmenu-button").removeAttr('style');
        }

        function addStyling() {
            $(".side-menu").attr('style', 'right:100px; bottom:90px;');
            $(".side-menu .side-menu-item").attr('style', 'right:100px; bottom:90px;');
            $(".side-menu .side-expandmenu-button").attr('style', 'right:100px; bottom:90px;');
        }
    });
</script>

<script>
    function createCookie(cookieName) {
        var daysToExpire = 60;
        var date = new Date();
        date.setTime(date.getTime() + (daysToExpire * 24 * 60 * 60 * 1000));
        var cookieValues = cookieName + "=visitor" + ";";
        cookieValues += "expires=" + date.toGMTString() + ";";
        document.cookie = cookieValues;

    }

    function accessCookie(cookieName) {

        var name = cookieName + "=";
        var cookieArray = document.cookie.split(';');

        for (var i = 0; i < cookieArray.length; i++) {
            var c = cookieArray[i];
            while (c.charAt(0) == ' ') {
                c = c.substring(1);
            }
            if (c.indexOf(name) == 0) {
                return c.substring(name.length, c.length);
            }
        }
        return "";
    }

    function newVisitor() {
        var cookieName = "username";
        var user = accessCookie(cookieName);
        if (user == "") {
            createCookie(cookieName);
            return true;
        } else {
            return false;
        }
    }

    $(window).on('load', function () {
        $newVisitor = newVisitor();
        if ($newVisitor) {
            $('#disclaimerModal').modal('show');
        }

    });
</script>
</body>

</html>
