<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <div th:fragment="header-css">
        <!-- this is header-css -->
        <link rel="stylesheet" th:href="@{/css/main.css}"/>
        <link th:href="@{/css/bootstrap_4/bootstrap.min.css}" rel="stylesheet" id="bootstrap-css">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">

        <!--        JavaScript files        -->
        <script th:src="@{/js/lib/jquery-1.11.1.min.js}"></script>
        <script th:src="@{/js/lib/popper.min.js}"></script>
        <!--        bootstrap 4.0.0 is used-->
        <script th:src="@{/js/lib/bootstrap.min.js}"></script>
    </div>
</head>
<body>

<nav class="navbar navbar-expand-md bg-dark navbar-dark" th:fragment="header (logged_in, user_role, page_name)">

    <div id="navbar-bootstrap4-header">
        <a class="navbar-brand" href="/index"> <img src="/img/binuv-logo.png" style="width: 45px; height: 45px;"> </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>

    <div class="collapse navbar-collapse" id="collapsibleNavbar">
        <ul class="navbar-nav" th:if="${logged_in}">
            <li class="nav-item" th:classappend="${page_name == 'start'} ? active : ''">
                <a class="nav-link" th:href="@{/start}">Start</a>
            </li>
            <li class="nav-item" th:classappend="${page_name == 'pressiplus'} ? active : ''">
                <a class="nav-link" th:href="@{/pressiplus}">Pressiplus</a>
            </li>
            <li class="nav-item" th:classappend="${page_name == 'user-profile'} ? active : ''">
                <a class="nav-link" th:href="@{/app/user-profile}">User profile</a>
            </li>
            <li class="nav-item" th:classappend="${page_name == 'support-new'} ? active : ''">
                <a class="nav-link" th:href="@{/app/support/new}">Support</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" th:href="@{/app/master-thesis/article-details}">Article</a>
            </li>
            <li class="nav-item dropdown" th:if="${user_role == 'ROLE_ADMIN'}"
                th:classappend="${page_name == 'admin'} ? active : ''">
                <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
                    Admin area
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" th:href="@{/app/master-thesis/report}">Progress report page</a>
                    <a class="dropdown-item" th:href="@{/admin/all-user}">Users</a>
                    <a class="dropdown-item" th:href="@{/admin/history/requests}">History</a>
                    <a class="dropdown-item" th:href="@{/admin/history/contact-requests}">Contact Form requests</a>
                    <a class="dropdown-item" th:href="@{/admin/history/subscription-list}">Subscription list</a>
                </div>
            </li>
        </ul>
<!--        <ul class="navbar-nav ml-auto" >-->
<!--            -->
<!--        </ul>-->

        <ul class="navbar-nav" th:if="${!logged_in}">
            <li class="nav-item" th:classappend="${page_name == 'start'} ? active : ''">
                <a class="nav-link" th:href="@{/start}">Start</a>
            </li>
            <li class="nav-item" th:classappend="${page_name == 'pressiplus'} ? active : ''">
                <a class="nav-link" th:href="@{/pressiplus}">Pressiplus</a>
            </li>

        </ul>
        <ul class="navbar-nav ml-auto" id="left-navbar">
            <li class="nav-item" th:if="${logged_in}">
                <a class="navbar-brand" th:href="@{/app/logout}">
                    <i class="fa fa-sign-out" aria-hidden="true" style="margin-right: 10px;"></i>
                    Sign out
                </a>
            </li>

            <li class="nav-item active" th:if="${!logged_in}">
                <a class="nav-link" th:href="@{/app/login}"><i class="fa fa-sign-in" aria-hidden="true"
                                                               style="margin-right: 10px;"></i>
                    Sign in
                </a>
            </li>
        </ul>
    </div>

</nav>
</body>
</html>

